<h1>Lista jugadores selección Argentina</h1>

<label for="posicion">Filtrar por posición:</label>

<select id="posicion" (change)="filtrarPorPosicion($event)">
  <option value="">Todos</option>
  <option value="DEL">Delantero</option>
  <option value="MED">Mediocampista</option>
  <option value="DEF">Defensor</option>
  <option value="ARQ">Arquero</option>
</select>

<ul>
  @for (jugador of jugadores; track jugador.nombre) {
    @if (!posicionSeleccionada || jugador.posicion === posicionSeleccionada) {
      <li>
        {{ jugador.nombre }} {{ jugador.apellido }} - Edad: {{ jugador.edad }} - Posición: {{ jugador.posicion }}
      </li>
    }
  }
</ul>
